@import url(../../vendor/normalize.css);

@import url(../../vendor/fonts/fonts/fonts.css);

.app {
  min-width: 320px;
  margin: 0;
  background-color: #131316;
  color: white;
}

.main {
  max-width: 1240px;
  display: flex;
  justify-content: space-between;
  padding: 40px 0 40px;
  margin: 0 auto;
  max-height: 650px;
}