.container {
  display: flex;
  max-width: 626.5px;
  flex-wrap: wrap;
  padding-top: 60px;
  min-height: 650px;
  justify-content: end;
}

.ingredientsContainer {
  display: flex;
  align-items: center;
} 

.BurgerConstructorItemsContainer {
  display: flex;
  gap: 16px;
  position: relative;
  flex-direction: column;
}

.itemsContainer {
  max-width: 559px;
  max-height: 304px;
}

.button {
  width: 215px;
  height: 64px;
  background: linear-gradient(63.18deg, #801AB3 0%, #4C4CFF 100%);
  border-radius: 64px;
  font-family: 'Jet Brains Mono';
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  text-align: center;
  color: #F2F2F3;
  padding: 0;
}

.totalPriceContainer {
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  width: 536px;
  justify-content: end;
}

.totalPrice {
  display: flex;
  align-items: center;
  margin-right: 41.5px;
}

.totalPriceText {
  font-family: 'Iceland';
  font-style: normal;
  font-weight: 400;
  font-size: 48px;
  line-height: 36px;
  color: #F2F2F3;
}

.totalPriceIcon {
  width: 32px;
  height: 32px;
}

.scrollBarContainer {
  min-width: 559px;
  min-height: 464px;
  margin: 16px 0 16px;
}


.thumbVertical {
  background-color: #8585AD;
  max-height: 664px;
}

.svg {
  width: 32px;
  height: 32px;
  fill: #F2F2F3;
}

.constructor {
  margin-right: 8px;
}
